.RecipeCard{
    border:3px solid #73C3E5;
    margin:20px;
    border-radius: 25px;
    background: #CBF1F5;

    .content{
        padding: 20px;

    }

    .card-image{
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 22px 0 0 22px;
        background-position: center;
    }
}

.RecipeCard:hover{
    background:#73C3E5;
}
