@import 'setup';

.flex {
  display:flex;
}

.basis-25{
  flex-basis: 50%;
}

.basis-50{
  flex-basis: 50%;
}

.basis-75{
  flex-basis: 75%;
}

.basis-100{
  flex-basis: 100%;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.border{
  border:2px solid black;
  margin:20px;
  border-radius: 25px;
}

.App {
  text-align: center;

  .input{
    width:200px;
  }
}

